[http]
	sslVerify = false
[credential "https://git.digital.rt.ru"]
	provider = generic
[user]
	name = San-sanichick
	email = sansanichick@gmail.com
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
